{% extends 'layout.html' %}

{% block content %}



<div class="m-3 text-center d-flex justify-content-between align-items-center">
  <h2>Lista de salones</h2>
  <a href="{% url 'add-classroom' %}" class="btn btn-primary">Agregar Salon</a>
</div>
<hr>
<div>
  <ul class="list-group">
    {% for classroom in classrooms %}
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="#">{{ classroom.name }} - {{ classroom.start_time }}</a>
        <a href="delete-classroom/{{ classroom.id }}" class="btn btn-danger">Eliminar</a>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}